<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">trainName</th>
                                <th scope="col">trainNo</th>
                                <th scope="col">fromPlace</th>
                                <th scope="col">toPlace</th>
                                <th scope="col">totalSeat</th>

                            </tr>
                        </thead>
                            <tbody>
                                <tr *ngFor="let i of root">
                                    <td>{{i.id}}</td>
                                    <td>{{i.trainName}}</td>
                                    <td>{{i.trainNo}}</td>
                                    <td>{{i.fromPlace}}</td>
                                    <td>{{i.toPlace}}</td>
                                    <td>{{i.totalSeat}}</td>
                                    <td><button class="btn btn-danger"(click)="deletetrain(i.id)">delete</button></td>
                                </tr>
                            </tbody>

                       
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>