<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">search book</label>
                    <input class="form-control" type="text" name="trainName"[(ngModel)]="trainName" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success"(click)="readValue()">search</button>
                </div>
                <div *ngFor="let i of data ">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">trainName</label>
                    <input class="form-control" type="text" name="" id="" value="{{i.trainName}}">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">trainNo</label>
                    <input class="form-control" type="text" name="" id="" value="{{i.trainNo}}">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">fromPlace</label>
                    <input class="form-control" type="text" name="" id="" value="{{i.fromPlace}}">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">toPlace</label>
                    <input class="form-control" type="text" name="" id="" value="{{i.toPlace}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">totalSeat</label>
                    <input class="form-control" type="text" name="" id="" value="{{i.totalSeat}}">
                </div>
            </div>
                
            </div>
        </div>
    </div>
</div>
